# Xcode
DerivedData/
build/
*.xcworkspace
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.xcuserdatad
project.xcworkspace/
.xcodeproj/*/xcuserdata/

# SwiftPM
.swiftpm/
Packages/

# macOS
.DS_Store

# User data
*.lok
